.table-category {
    vertical-align:middle
}
.categorie-vuote {
    margin: 50px auto;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
#tblData tr{
    vertical-align:middle;
}
#tblData{
    padding-top:30px;
}
/*applica il selettore ad ogni 5 figlio td di tr */ 
tr td:nth-child(5n) {
    display: flex;
    justify-content: center;
}

