@model Category
<div class="container d-flex justify-content-center">
	<form class="col-12 col-md-8 col-lg-6" method="POST">
		<div class="mb-3 ">
			<label asp-for="Name" class="form-label">Nome categoria</label>
			<input asp-for="Name" type="text" class="form-control" placeholder="Inserisci il nome delle categoria">
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="DisplayOrder" class="form-label"></label>
			<input asp-for="DisplayOrder" min="1" class="form-control">
			<span asp-validation-for="DisplayOrder" class="text-danger"></span>
		</div>

		<div class="text-end">
			<button asp-controller="Category" asp-action="Edit" class="btn btn-primary text-end">Modifica</button>
			<button type="button" onclick="location.href='@Url.Action("Index", "Category")'" class="btn btn-outline-warning">Torna alle categorie</button>
		</div>

	</form>
</div>
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}