@model IEnumerable<Course>

    <div class="ag-format-container">
        <div class="ag-courses_box">

        @foreach (var course in Model)
        {
            <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>

                    <div class="ag-courses-item_title">
                       @course.Title
                    </div>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@course.Id"> VAI </a>
                    <div class="ag-courses-item_date-box">
                        Linguaggio:
                        <span class="ag-courses-item_date">
                            @course.Category.
                        </span>  
                    </div>
                </a>
            </div>
        }
        </div>
    </div>
